extends layout

block content
	.jumbotron
			h1.display-4= title
			p.lead Welcome to #{title}
			hr.my-3
			h2 Aplicación para el volcado de Bases de Datos
	.container-fluid
		form.form-group(method="POST",action="/users")
			.row
				.col-md-4
					h2 Origen:
					label(for="host") Host
					input.form-control(type="text",name="host1")
					br
					label(for="usuario") Usuario 
					input.form-control(type="text",name="usuario1")
					br
					label(for="passw") Contraseña 
					input.form-control(type="password",name="passw1")
					br
					label(for="bd") Base de Datos 
					input.form-control(type="text",name="bd1")
					br
					label(for="puerto") Puerto
					input.form-control(type="number",name="puerto1")
					br
				.col-md-1
				.col-md-4
					h2 Destino:
					label(for="host") Host
					input.form-control(type="text",name="host2")
					br
					label(for="usuario") Usuario 
					input.form-control(type="text",name="usuario2")
					br
					label(for="passw") Contraseña 
					input.form-control(type="password",name="passw2")
					br
					label(for="bd") Base de Datos 
					input.form-control(type="text",name="bd2")
					br
					label(for="puerto") Puerto
					input.form-control(type="number",name="puerto2")
					br
					input.btn.btn-primary(type="submit", value="Enviar")

